<section id="about" class="content-first">
    <div class="row">
        <div class="col-sm-4 hidden-xs scrollpoint sp-effect1 active animated fadeInLeft"><!-- Profile image --> 
        	<%= image_tag("team.jpg", class: "img-thumbnail img-responsive") %>
                      
        </div><!-- Profile end --> 
        
        <div class="col-md-8 col-sm-8 scrollpoint sp-effect1 active animated fadeInLeft"><!-- Profile description --> 
        	<h3>UMSoft Corp</h3>
          	<p>It's a resource designed for teachers that also holds major benefit to students. It's an automatic grading platform that swiftly returns assignments with detailed feedback, thereby keeping pupils engaged with course material. Teachers can customize this to their individual standards, and the platform supports numerous college textbooks and curricula. Though it might seem that automatic grading wouldn't work too well in a college setting, this user statistics say differently: their site reports that over one million students in more than 1,300 institutions have used the platform in their classes.</p>      
            
            <div class="tweets"><!-- Tweets row --> 
                <!-- Tweets slideshow --> 
                     <div class="media">
                            <div class="pull-left"><i class="glyphicon glyphicon-comment"></i></div>
                            <h4>tweets @sinourain</h4>
                            <div class="media-body">
                                <div id="slideshow1" class="carousel slide" data-ride="carousel">
                                      <div class="carousel-inner">
                                       <!-- Slideshow item 1 active --> 
                                          <div class="item">
                                                <p>Hi everyone i just finished my last #awesome web template you can check it on #wrapbootstrap.. Fully responsive and mobile first webtheme.co</p> 
                                          </div>
                                       <!-- Slideshow item 2 -->    
                                          <div class="item active">
                                                <p>Check our new amazing portfolio on #Pixelized</p>
                                          </div>
                                          
                                        <!-- Slideshow item 3 -->
                                          <div class="item">
                                                <p>Another very #important tweet from your twitter.</p>
                                          </div>
                                      </div>    
                                 </div>
                            </div>
                     </div>    
               <!-- Tweets slideshow end --> 
            </div><!-- Tweets row end --> 
       </div><!-- Profile description end--> 
        
             
    </div><!--Row about end-->

</section>


<h3>Bulk collect skills</h3>
<div class="table-responsive">
  <table class="table table-striped">
  	  <thead>
	    <tr>
	      <th>Skill</th>
	      <th>Level</th>
        <th>Percentage</th>
        <th>The best user</th>
	      <th>Description</th>
	    </tr>
	  </thead>
	  <tbody>
        <tr>
          <td>
            <code>html5</code>
          </td>
          <td>Mid-level</td>
          <td>10%</td>
          <td><%= current_user.first_name %> <%= current_user.last_name %></td>
          <td>Applies the hover color to a particular row or cell</td>
        </tr>
        <tr>
          <td>
            <code>css</code>
          </td>
          <td>Mid-level</td>
          <td>10%</td>
          <td><%= current_user.first_name %> <%= current_user.last_name %></td>
          <td>Indicates a successful or positive action</td>
        </tr>
        <tr>
          <td>
            <code>javascript</code>
          </td>
          <td>Mid-level</td>
          <td>30%</td>
          <td><%= current_user.first_name %> <%= current_user.last_name %></td>
          <td>Indicates a neutral informative change or action</td>
        </tr>
        <tr>
          <td>
            <code>Ruby on Rails </code>
          </td>
          <td>Mid-level</td>
          <td>10%</td>
          <td><%= current_user.first_name %> <%= current_user.last_name %></td>
          <td>Indicates a warning that might need attention</td>
        </tr>
        <tr>
          <td>
            <code>AngularJS</code>
          </td>
          <td>Mid-level</td>
          <td>10%</td>
          <td><%= current_user.first_name %> <%= current_user.last_name %></td>
          <td>Indicates a dangerous or potentially negative action</td>
        </tr>
        <tr>
          <td>
            <code>Swift iOS</code>
          </td>
          <td>Entry Level</td>
          <td>30%</td>
          <td><%= current_user.first_name %> <%= current_user.last_name %></td>
          <td>Indicates a dangerous or potentially negative action</td>
        </tr>
      </tbody>

    
  </table>
</div>