<div class="container">

    <h2><%= current_user.name %> <%= current_user.last_name %></h2>
    <p class="lead">
    	last session: <%= current_user.last_sign_in_at %>
    </p>
    
    <div class="alert alert-info">
        <h4>Description</h4>
        <p><%= current_user.description %></p>
    </div>

    <div class="method">
        <div class="row margin-0 list-header hidden-sm hidden-xs">
            <div class="col-md-2"><div class="header">Property</div></div>
            <div class="col-md-10"><div class="header">Content</div></div>
        </div>
        <div class="row margin-0">
            <div class="col-md-2">
                <div class="cell">
                    <div class="propertyname">
                        Phone  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="cell">
                    <div class="type">
                        <p><i class="glyphicon glyphicon-earphone"></i> <%= current_user.phone %></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-0">
            <div class="col-md-2">
                <div class="cell">
                    <div class="propertyname">
                        Bird Date  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="cell">
                    <div class="type">
                        <p><i class="glyphicon glyphicon-calendar"></i> <%= current_user.bird_date %></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-0">
            <div class="col-md-2">
                <div class="cell">
                    <div class="propertyname">
                        Gender  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="cell">
                    <div class="type">
                        <p><%= current_user.gender %></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-0">
            <div class="col-md-2">
                <div class="cell">
                    <div class="propertyname">
                        facebook  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="cell">
                    <div class="type">
                        <a href="<%= current_user.facebook %>"><%= current_user.facebook %></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-0">
            <div class="col-md-2">
                <div class="cell">
                    <div class="propertyname">
                        twitter  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="cell">
                    <div class="type">
                        <a href="<%= current_user.twitter %>"><%= current_user.twitter %></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin-0">
            <div class="col-md-2">
                <div class="cell">
                    <div class="propertyname">
                        skype  <span class="mobile-isrequired">[Required]</span>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <div class="cell">
                    <div class="type">
                        <a href="<%= current_user.skype %>"><%= current_user.skype %></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1>Microposts</h1>
    <%= render 'microposts/list' %>
</div>
