<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Comments" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'http://wcdn4.dataknet.com/static/resources/icons/set113/fd758d6c.png', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>
  	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand glyphicon glyphicon-comment" href="<%= welcome_path %>"> Comments</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="<%= profile_path %>">Profile</a></li>
            <li><a href="<%= about_path %>">About</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<% if user_signed_in? %>
          	<li class="active">
              <a href="<%= edit_user_registration_path %>">Logged in as <strong><%= current_user.first_name %> <%= current_user.last_name %></strong>. <span class="glyphicon glyphicon-cog"></span></a>
          	</li>
          	<li>
          		<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
          	</li>			  
      			<% else %>
      			  <li class="active">
      			  	<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
      			  </li>
      			  <li>
      			  	<%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
      			  </li>
      			<% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- render pages and show messages -->
    <div class="container">  
      <% if notice %>
  	  	<p class="alert alert-success"><%= notice %></p>
  	  <% end %>
  	  <% if alert %>
  	  	<p class="alert alert-danger"><%= alert %></p>
  	  <% end %>
      <%= yield %>

    </div> <!-- /container -->

    <!-- footer -->
    <aside id="footer-widgets">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <h3 class="footer-widget-title">Sitemap</h3>
                  <ul class="list-unstyled three_cols">
                      <li><a href="<%= welcome_path %>" class="active">Home</a></li>
                      <li><a href="microposts">Micropost</a></li>
                      <li><a href="<%= profile_path %>">Profile</a></li>
                      <li><a href="<%= about_path %>">About</a></li>
                      <li><a href="<%= edit_user_registration_path %>">Edit profile</a></li>
                  </ul>
              </div>
              <div class="col-md-6">
                  <h3 class="footer-widget-title">Subscribe</h3>
                  <p>Subscribe now! we are enemies of spam.</p>
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Email Address">
                      <span class="input-group-btn">
                          <button class="btn btn-ar btn-primary" type="button">Subscribe</button>
                      </span>
                  </div><!-- /input-group -->
              </div>
          </div> <!-- row -->
      </div> <!-- container -->
  </aside>
    <footer id="footer">
        <p>© 2014 <a href="<%= welcome_path %>">UMSoft</a>, corp. All rights reserved.</p>
      </footer>
  </body>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</html>
